<mat-form-field floatLabel="always">
  <mat-label>{{title}}</mat-label>
  <mat-select *ngIf="!custom" 
    placeholder="{{placeholder}}" 
    [formControl]="selectControl" 
    #selectWidget
  >
    <mat-option *ngFor="let value of selectList" [value]="value">{{value}}</mat-option>
    <mat-option [value]="'custom'">Custom...</mat-option>
  </mat-select>
  <input *ngIf="custom" 
    matInput appAutoFocus 
    [formControl]="inputControl"
    (focusout)="onFocusOut(inputWidget.value)"
    [value] = "selectedValue"
    #inputWidget 
  >
</mat-form-field>