<mat-form-field floatLabel="always">
  <mat-label>Value(s)</mat-label>
  <mat-select placeholder="Select value(s)" [formControl]="selectControl" multiple>
    <mat-select-trigger>
      {{selectControl.value ? selectControl.value[0] : ''}}
      <span *ngIf="selectControl.value?.length > 1" class="more">
        (+{{selectControl.value.length - 1}} {{selectControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let value of selectList" [value]="value">{{value}}</mat-option>
  </mat-select>
</mat-form-field>